@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

::placeholder {
    color: #B6B6B6;
    font-weight: 400;
    font-size: 14px;
}

.SignUpContainer{
    padding: 5%;
    width: 90%;
    height: 72.5vh;
    background-color: white;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

.SignUpTopBar  div{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: black;
}

.SignUpTopBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#SignUptitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#SignUptitle h1{
    font-weight: 500;
    font-size: 28px;
    padding-top: 10px;
}

#SignUptitle h5{
    color: #696969;
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
}

#SignUpcreateform{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 3vh;
}

#SignUpcreateform input{
    border: none;
    padding: 0 15px;
    width: auto;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 75px .5px #e8e8ea;

}

#SignUpcreateform input:focus{
    outline: none;
}

#SignUpcreateform button{
    display: block;
    width: 100%;
    background-color: black;
    height: 45px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-top: 7vh;
}

#SignUpindicators{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 6.66%; 
    padding: 0 2%;
}

#SignUpindicators div{
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
}

.SignUpright{
    background-color: green;
}

.SignUpwrong{
    background-color: red;
}
